.pricing-table {
  text-align: center;
  padding: 76px 0px;

  .main-heading {
    max-width: 294px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 56px;
  }

  .third-heading {
    text-transform: uppercase;
    max-width: 294px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 16px;  
  }

  .secondary-btn {
    color: $violent-violet;
    background-color: $white;
    border: 2px solid $athens-gray;
    padding: 9px 26px;
    transition-property: background-color, color, opacity;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    margin-bottom: 44px;
  
    @include hover {
      background-color: $turquoise;
      color: $white;
      opacity: 1;
    }
  }

  @include tablet {
    padding: 55px 0px;

    .secondary-btn {
      padding: 6px 22px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  @include phone {
    padding: 45px 0px;

    .main-heading {
      margin-bottom: 40px;
    }

    .secondary-btn {
      font-size: 14px;
      line-height: 22px;
      padding: 4px 19px;
      margin-bottom: 30px;
    }
  }
}

.pricing-table__container {
  @include flex-column(initial, initial);
}

.pricing-table__boxes {
  @include flex-row(space-between, initial);
  max-width: 972px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;

  @include phone {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.pricing-table__box {
  @include flex-column(initial, center);
  max-width: 200px;
  width: 100%;
  margin-bottom: 40px;

  .sub-heading {
    color: $violent-violet;
    margin-bottom: 10px;
  }

  @include transition(box-shadow, 0.3s, ease);

  @include hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

  @include phone {
    .sub-heading {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.pricing-table__box-price {
  font-family: $main-font;
  font-weight: $fntweight-regular;
  font-size: 16px;
  line-height: 26px;
  color: rgba($haiti, 0.49);
  display: inline-block;
  margin-bottom: 28px;

  @include phone {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

.pricing-table__box-icon-container {
  @include flex-row(center, center);
  background-color: $athens-gray;
  width: 130px;
  height: 130px;
  border-radius: 100px;
  position: relative;
  margin-bottom: 42px;

  @include tablet {
    width: 110px;
    height: 110px;
  }

  @include phone {
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
  }
}

.pricing-table__box-icon {
  position: absolute;
  font-size: 50px;
  color: rgba($haiti, 0.4);

  @include tablet {
    font-size: 40px;
  }

  @include phone {
    font-size: 30px;
  }

  @include IE-breakpoint {
    position: relative;
  }
}

.pricing-table__box-benefit {
  font-family: $main-font;
  font-weight: $fntweight-regular;
  font-size: 16px;
  line-height: 26px;
  color: $violent-violet;
  margin-bottom: 10px;

  @include tablet {
    font-size: 15px;
    line-height: 25px;
  }

  @include phone {
    font-size: 14px;
    line-height: 24px;
  }
}

