/* ******** FONTS ******** */

$main-font: 'DM Sans', sans-serif;
$second-font: 'Poppins', sans-serif;
$third-font: 'Nunito Sans', sans-serif;
$fntweight-regular: 400;
$fntweight-medium: 500;
$fntweight-bold: 700;

/* ******** COLORS ******** */

$main-color: #fff;
$white: #fff;
$black: #000;
$persian-indigo: #2E1894;
$royal-blue: #482BE7;
$haiti: #151439;
$athens-gray: #EBEAED;
$violent-violet: #1E0E62;
$turquoise: #25DAC5; 
$cerise-red: #E93A7D;