@keyframes animatedIconHand {
  from {transform: translateX(-15px);}
  to {transform: translateX(0);}
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-1000px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
