@media print {
	body {
		background: $white;
		color: $black !important;
	}

  a {
    color: $black !important;
  }

	a:link, 
    a:visited {
		background: $white !important;
		color: $black !important;
		text-decoration: underline !important;
	}

	a:not([href='javascript:;']):after {
		content: '[' attr(href) ']';
	}

	h1, h2, h3, h4, h5, h6, p {
		background: none !important;
		color: $black !important;
	}

  .header {
    display: none !important;
  }

  .footer {
    display: none !important;
  }

  h1 {
    font-size: 35px !important;
    line-height: 35px !important;
  }

  h2 {
    font-size: 20px !important;
    line-height: 20px !important;
	}

	h3 {
		font-size: 15px !important;
		line-height: 15px !important;
	}

	h4 {
		font-size: 13px !important;
		line-height: 13px !important;
	}

  p {
    font-size: 12px !important;
    line-height: 12px !important;
	}

  a {
		font-size: 12px !important;
		line-height: 12px !important;
		padding: 10px !important;
	}

  // Contact Page

  .contact-module__main-heading {
    color: $black !important;
  }

  .contact-module__sub-heading {
    color: $black !important;
  }

  .contact-module__content-form-inputs {
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
  }

  .contact-module__content-form-inputs-input,
  .contact-module__content-form-inputs-message {
    border: 2px solid $black !important;

    &::placeholder {
      color: $black !important;
    }
  }

  .contact-module__content-form-inputs-message {
    max-width: 480px !important;
  }

  .contact-module__content-form-btn {
    display: none !important;
  }

  // Team Page

  .crew-module {
    padding: 60px 0px;
  }

  .crew-module__btn {
    display: none !important;
  }
  
  .crew-module__boxes {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  .crew-module__box-photo {
    width: 130px !important;
    height: 130px !important;
  }
  
  .crew-module__box {
    max-width: 330px !important;
  }

  // Pricing Page

  .pricing-table__box-btn {
    &:not([href='javascript:;']):after {
      content: '' !important;
    }
  }

  .pricing-table__box-benefit {
    color: $black !important;
  }

  .pricing-table__box {
    box-shadow: 0 0 11px rgba(33,33,33,.2) !important; 
    padding: 10px 0px;
    margin-bottom: 60px;
  }

  .pricing-table__box-icon-container {
    width: 60px !important;
    height: 60px !important;
    background-color: transparent !important;
    margin-bottom: 20px !important;
  }

  .pricing-table__box-icon{
    color: $black !important;
  }

  // Register Page

  .register__bg {
    display: none !important;
  }

  .register__form-label {
    color: $black !important;
  }

  .register__form-action-btn {
    color: $black !important;
    background-color: transparent !important;
  }

  .register__form-action-policy {
    color: rgba($black, 0.6) !important;
  }

  // Home Page

  .banner,
  .videos-module {
    background-color: transparent !important;
  }

  .videos-module__main-video-container {
    padding-top: 50% !important;
  }

  .banner__media-front-img,
  .banner__media-back-img {
    max-width: 150px !important;
  }

  .questions-module {
    padding: 90px 0px !important;
  }

  .videos-module__heading {
    max-width: 400px !important;
  }

  .videos-module__heading,
  .videos-module__main-video-container,
  .videos-module__preview,
  .questions-module__heading,
  .questions-module__content,
  .features__heading,
  .features__sub-heading,
  .features__box,
  .cta-block__container {
    opacity: 1 !important;
  }

  .videos-module__preview-link{
    &:not([href='javascript:;']):after {
      content: '' !important;
    }
  }

  .cta-block__content {
    min-height: 230px !important;
  }

  .cta-block__content-icon {
    color: $black !important;
  }
}

